<div style="font-size: 14px; line-height: 24px; color: #333; font-family: sans-serif">
  <p>Hey {{name}}!</p>
  <p>You just created your VisageTome account with the user {{username}}</p>
  <p>
    See ya!
    <br>
    <strong>VisageTome Team</strong>
  </p>
</div>
